@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
html, body {
    margin: 0;
    background: #154E52;
    height: 100%;
    color: #EDE8E8;
}
* {font-family: Inter, sans-serif}
h1,h2,h3 {margin:0}
a {text-decoration: none; color: #CBCBDF}
a:hover {font-style: italic}
a:hover:after {content: '~'}
a:hover:before {content: '~'}
.box-a:hover:after, a.hero:hover:after {content: unset}
.box-a:hover:before, a.hero:hover:before {content: unset}
.box-a:hover {font-style: unset}
.box {
    padding: 20px;
    background: rgba(29, 138, 124, 0.35);
    box-shadow: 0 8px 32px 0 rgba(7, 81, 78, 0.37);
    border-radius: 10px;
    margin-bottom: 25px;
}
.things-thing {
    display: flex; min-height: 120px;
    margin-bottom: 20px;
    transition: transform 0.2s;
    transform: translateY(0px) translateX(0px);
    border-radius: 10px;
}
.things-thing>h3 {padding: 15px}
.things-thing:hover {transform: translateY(-2px) translateX(-2px); transition: transform 0.2s}
.things-thing>img {height: 120px; width: 120px; border-radius: 10px}
.things-type-footer-icon {
    height: 25px !important;
    bottom: 10px;
    right: -35px;
    position: absolute;
}
